<!DOCTYPE html>
<html>
    <head>
        <title>
           Home
        </title>
        <link rel="stylesheet" type="text/css" href="../static/home.css">
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css ">

    </head>
    <body>
    <!--  <form id="review-form" action = "http://localhost:9000/home/" method = "post">  -->
        <header>

            <div class="main">

            
                <ul>
                    <br>
                    <li class="active"><a href="{{ url_for('welcome') }}" ><i class="fa fa-home"></i>Home</a></i>
                     </li>
                     <li><a href="prediction"><i class="fa fa-search" aria-hidden="true"></i>Predict</a>

                    
                </ul>
            </div>

          <div class="title">
                <h1 style="color:white ;"> SMART RESTAURANT</h1>
            </div>

        </header>
     <!-- </form> -->
    </body>
</html>
